---
layout: layouts/page.njk
title: Battle Reports
permalink: /battles/
---

<h1>Battle reports</h1>

{% set records = collections.battles | sortByDateDesc %}
{% set emptyMessage = "No battle reports have been filed yet." %}
{% include "partials/collection-list.njk" %}
