---
layout: layouts/page.njk
title: Registers
permalink: /registers/
---

<h1>Register records</h1>

{% set records = collections.registers | sortByTitle %}
{% set emptyMessage = "No register records have been filed yet." %}
{% include "partials/collection-list.njk" %}
